:host {
    background: #252424!important
}

.nav-link .active {
    color: black;
}

.d-flex {
    display: flex!important;
    margin-left: 50%;
}

.navbar-toggler {
    color: whitesmoke!important
}